<div class="column" ng-repeat="column in columns">
    <div class="post repeated-item" ng-repeat="post in column" ng-click="selectPost(post)" href="javascript:void(0)">
        <div ng-include="'compose.html'" ng-if="post.type === 'compose'"></div>
        <div ng-if="post.type != 'longdan' && post.type != 'compose'">
            <span class="price">{{ post.price }}</span>
            <span class="image-icon" ng-if="hasImages(post)"><img src="images/image-icon.png"/></span>
            <span class="time">{{ post.ago }}</span>
            <div class="description" ng-bind-html="post.description | highlightMatch: searchedText"></div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
