<div ng-controller="ComposeCtrl">
    <div class="overlay" ng-class="{active : composeBoxEnabled}">
        <div class="composeBox overlay_content" ng-class="{active : composeBoxEnabled}">
            <h3>New advertisement</h3>
            <div class="expiration">Expires: <b>{{ fortnightAway }}</b></div>
            <div>
                <div class="picker">
                    <div ng-repeat="category in composeCategories"
                         ng-class="{ 'picked' : pickedCategory === category }"
                         ng-click="setPickedCategory(category);">{{ category }}</div>
                </div>
            </div>
            <div class="compose-form" ng-form="compose-form" ng-class="{ active : isCategoryPicked() }">
                <label class="price-label">
                    <b>Price</b><i>{{ priceGuideText() }}</i>:
                </label>
                <div class="price-input">
                    <input ng-model="submittedPrice" ng-class="{ 'valid' : isPriceSensible() }"
                           placeholder='"£10", "£7/h+tips", "£300pcm"'
                           ng-change="updatePriceHelp()"
                           ng-focus="setActiveWarnings(false);"></input>
                    <div class="help" ng-class="[priceHelp.severity, warningsActive ? 'active' : '']">
                        <div class="help-text">{{ priceHelp.text }}</div>
                        <div class="triangle-up"></div>
                    </div>
                    <div id="clear" style="clear:both;"></div>
                </div>
                <label class="desc-label"><b>Description:</b></label>
                <label class="tip-label"><i>Tip: "#bold" becomes <b>bold</b></i></label>
                <div class="desc-input">
                    <textarea ng-model="submittedDesc" ng-class="{ 'valid' : isDescValid() }"
                              placeholder='"Brand new iPhone", "Refurbished flat near Canada Water"'
                              ng-change="updateDescHelp()"
                              ng-focus="setActiveWarnings(false);"></textarea>
                    <div class="help" ng-class="[descHelp.severity, warningsActive ? 'active' : '']">
                        <div class="help-text">{{ descHelp.text }}</div>
                        <div class="triangle-up"></div>
                    </div>
                </div>
                <label class="media-label"><b>Upload Photo:</b></label>
                <div class="media-input">
                    Feature Not Yet Available
                </div>
            </div>
            <div class="buttons">
                <div class="submit" ng-click="submitPost();" ng-class="{ active : isOkayToSubmit() }">Submit</div>
                <div class="discard" ng-click="clearSubmit()">Discard</div>
            </div>
        </div>
    </div>
</div>
