<div ng-controller="ComposeCtrl">
    <div  class="compose" ng-click="setComposeBoxEnabled(true);">
        <b>+ Post new ad</b>
    </div>
    <div class="overlay" ng-class="{active : composeBoxEnabled}">
        <div class="composeBox overlay_content" ng-class="{active : composeBoxEnabled}">
            <h3>New advertisement</h3>
            <div class="expiration">Expires: <b>{{ fortnightAway }}</b></div>
            <div>
                <div class="picker">
                    <div ng-repeat="category in composeCategories"
                         ng-class="{ 'picked' : pickedCategory === category }"
                         ng-click="setPickedCategory(category);">{{ category }}</div>
                </div>
            </div>
            <div class="compose-form" ng-class="{ active : isCategoryPicked() }">
                <label class="price-label">
                    <b>Price</b><i>{{ isCategoryWanted() ? ' (or type "Wanted!" if unsure)' : '' }}</i>:
                </label>
                <div class="price-input">
                    <input ng-model="submittedPrice" ng-class="{ 'valid' : isPriceSensible() }"
                           placeholder='"£10", "£7/h+tips", "£300pcm"'></input>
                    <div class="help" ng-class="{ 'valid' : isPriceSensible() }">
                        <div class="help-text">{{ priceSensibleText() }}</div>
                        <div class="triangle-up"></div>
                    </div>
                    <div id="clear" style="clear:both;"></div>
                </div>
                <label class="desc-label"><b>Description:</b></label>
                <label class="tip-label"><i>Tip: "#bold" becomes <b>bold</b></i></label>
                <div class="desc-input">
                    <textarea ng-model="submittedDesc" ng-class="{ 'valid' : isDescValid() }"
                          placeholder='"Brand new iPhone", "Refurbished flat near Canada Water"'></textarea>
                    <div class="help" ng-class="{ 'valid' : isDescValid() }">
                        <div class="help-text">{{ descLengthText() }}</div>
                        <div class="triangle-up"></div>
                    </div>
                </div>
                <label class="media-label"><b>Media Attachment:</b></label>
                <div class="media-input">
                    Feature Not Yet Available
                </div>
            </div>
            <div class="buttons">
                <div class="submit" ng-click="submitPost();" ng-class="{ active : isOkayToSubmit() }">Submit</div>
                <div class="discard" ng-click="clearSubmit();setComposeBoxEnabled(false);">Discard</div>
            </div>
        </div>
    </div>
</div>