@import "global.less";

@background: #7bc173;

.intro {
    background-color: @background;
    border-top: 1px solid darken(@background, 10%);
    margin-top: 50px;
    overflow: hidden;

    .overlay_content_full_bleed {
        width: 400px;
        height: auto;
        &.overlay-shrink {
            width: 300px;
            height: 50px;
            top: 40%;
        }
    }
    .intro-wrapper {
        width: @grid_12;
        margin: 0 auto;
        position: relative;
        p {
            font-family: @thin-font-family;
            font-size: 14pt;
            line-height: 2;
            color: lighten(@background, 30%);
            b {
                color: lighten(@background, 40%);
                font-weight: normal;
            }
        }
        div {
            display: inline-block;
            &.tag-lines {
                width: 50%;
                padding: 50px 0;
                p {
                    margin: 0 0 0 20px;
                    text-align: left;
                    padding: 5px 0;
                }
            }
            &.social-images {
                width: 40%;
                display: inline-block;
                padding: 40px 0;
                margin-left: 40px;
                a {
                    text-decoration:none;
                    img {
                        margin: 0 10px 0 0;
                        height: 40px;
                    }
                }
                p {
                    font-size: 11pt;
                    .quick-mail {
                        cursor: pointer;
                    }
                    .hello-button {
                        .gradient(darken(@background, 10%));
                        border: 1px solid darken(@background, 25%);
                        color: white;
                        font-style: normal;
                        margin: 0 10px;
                        padding: 0.2em 0.5em;
                        border-radius: 2px;
                        font-weight: bold;
                        &:hover {
                            background: darken(@background, 20%);
                        }
                    }
                }
            }
        }
    }
    .message-wrapper {
        padding-top: 10px;
        margin: 0 auto;
        .message-result {
            position: absolute;
            text-align: center;
            color: #649e5d;
            width: 100%;
            top: 30%;
            a {
                font-style: italic;
                text-decoration: underline;
                font-size: 14px;
                cursor: pointer;
            }
            &.error {
                color: #f75454;
            }
        }
        .message-form {
            height: 300px;
            div {
                background-color: #fff;
                color: #649e5d;
                label {
                    display: inline-block;
                    padding: 0 5px;
                }
                .validation {
                    padding: 5px;
                    // invalid by default
                    background-color: #f86e6e;
                    color: #fff;
                    border-radius: 5px;
                    &.valid {
                        background-color: #7bc173;
                    }
                }
                &.email {
                    padding: 5px 10px;
                    margin-bottom: 5px;
                    input {
                        font-size: 16px;
                        color: #649e5d;
                        display: inline-block;
                        outline: none;
                        border: none;
                        max-width: 680px;
                        min-width:10px;
                    }
                    .double-check {
                        cursor: pointer;
                        font-size: 14px;
                    }
                    img.loading {
                        height: 20px;
                        position: absolute;
                    }
                }
                &.message {
                    border-top: 1px solid #7bc173;
                    padding: 5px 0;
                    margin: 0 10px 5px 10px;
                    label {
                        margin: 5px 0;
                    }
                    textarea {
                        border: none;
                        font-family: Arial;
                        font-size: 16px;
                        color: #649e5d;
                        outline: none;
                        width: 100%;
                        height: 200px;
                        padding: 5px;
                        resize: none;
                    }
                    .bottom {
                        margin: 0;
                        padding: 5px 0 0 0;
                        width: 100%;
                        border-radius: 0;
                        border-top: 1px solid #7bc173;
                        input[name="chboxCaptcha"] {
                            float: left;
                            margin-top: 7px;
                        }
                        input[name="trap"] {
                            display: none;
                        }
                        p {
                            margin: 0;
                            font-size: 14px;
                            padding: 5px 10px;
                            &.send {
                                color: #fff;
                                font-style: normal;
                                cursor: pointer;
                                float: right;
                                border-radius: 2px;
                                margin-right: 10px;
                                background-color: #bbb;
                                &.active {
                                    background-color: #7bc173;
                                    &:hover {
                                        background-color: #649e5d;
                                    }
                                }
                            }
                            &.cancel {
                                cursor: pointer;
                                float: right;
                                text-decoration: underline;
                            }
                            &.invalid {
                                color: #f75454;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.shadow-maker {
    box-shadow: 0 0 20px black;
    height: 1px;
    position: relative;
    top: -1px;
}
