/*

Grid parameters: 12 modules @ 66px, 18px gap

*/

// *** Font imports ***
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

@grid_gutter: 18px;
@grid_module: 66px;
@grid_12: 12 * @grid_module + 11 * @grid_gutter;
@grid_4: 4 * @grid_module + 3 * @grid_gutter;
@grid_3: 3 * @grid_module + 2 * @grid_gutter;

@red: #c33f3f;

// *** Main content ***

body {
    margin: 0;
    font-family: "Arial";
    overflow-y: scroll;
    &.no-scroll {
        position: fixed;
        width: 100%;
//        height: 100%;
    }
}

#header {
    .gradient(#efefef; 94%; #e1e1e1; 100%);
}

#header_contents {
    margin: 0 auto;
    width: @grid_12;
}

#logo {
    float: left;
    width: @grid_3;
    //margin-right: @grid_gutter;
    
    h1 {
        font-family: "Montserrat";
        font-weight: 400;
        padding: 0.5em 0 0.4em 0;
        margin: 0;
        
        * {
            text-transform: uppercase;
            font-size: 60%;
            font-weight: 700;
        }
    }
}

#top-navigation {
    float: left;
    font-size: 10.5pt;
    font-family: Arial; 
    font-weight: bold;
    color: #1c1b1b;
    
    a {
        padding: 27pt 0 6pt;
        text-align: center;
        float: left;
        display: block;
        line-height: 18pt;
        width: @grid_module;
        margin-right: @grid_gutter;
        cursor: pointer;
        position: relative;

        &.longdan {
            padding: 16pt 0 0 0;
            img {
                height: 45px;
            }
            .triangle-up {
                left: 40px;
                bottom: -10;
            }
        }

        .ld-help {
            position: absolute;
            right: -55px;
            top: 10px;
            height: 25px !important;
        }
    }
}

.badge {
    .gradient(#f04d53; 0%; #ed1c24; 100%);
    position: absolute;
    bottom: -0.5em;
    left: -0.5em;
    text-align: center;
    border-radius: 20px;
    font-size: 75%;
    color: white;
    border: 2px solid white;
    min-width: 12px;
    padding: 1px 2px;
    height: 14px;
}

#user_profile_nav {
    position: relative;
    display: block;
    float: right;
    margin: 0.6em 0 0;
    
    img {
        float: left;
    }
    
    .triangle {
        margin-top: 22px;
        margin-left: 5px;
        float: right;
        border: 7px solid transparent;
        border-top-color: #5c5c5c;
    }

    // *** Notification box ***
    #notification-box {
        z-index: 1000;
        position: absolute;
        background-color: #fff;
        width: 400px;
        border: 4px solid #ccc;
        -moz-box-shadow: 0 0 12px #ccc;
        -webkit-box-shadow: 0 0 12px #ccc;
        box-shadow: 0 0 12px #ccc;
        border-radius: 3px;
        top: 70px;
        right: 0px;
        display: none;
        text-decoration: none;
        
        .notification {
            padding: 5 10px 15px 10px;
            font-size: 12.5px;
            color: #333;
            .content {
                height: 35px;
            }
            .time {
                color: #aaa;
            }
            .avatar {
                margin-right: 15px
            }
        
            &:last-child {
                padding-bottom: 10px;
            }
        
            &:not(:last-child) {
                border-bottom: 1px solid #bbb;
            }
        
            &:hover {
                background-color:#eee;
            }
        }
    }
    .triangle-up {
        float: right;
        border: 16px solid transparent;
        border-bottom-color: #ccc;
        margin-top: 40px;
        margin-left: -11px;
        bottom: auto;
        left: auto;
    }
    #notification-box.active {
        display: block;
    }
}

.triangle-up {
    float: right;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    z-index: 12000;
    bottom: -8;
    left: 18px;
    display: none;
}
.triangle-up.active {
    display: block;
}

.avatar {
    border-radius: 100px;
}

#content {
    position: relative;
    margin: 0 auto;
    width: @grid_12;
}

.column {
    float: left;
    width: @grid_4;
    margin-left: @grid_gutter;
    
    &:first-child {
        margin-left: 0;
    }
}
.longdan .column {
    width: @grid_3;
}

// *** Content styles ***

.post {
    margin-top: 1.0em;
    
    .price {
        font-family: "Open Sans", Arial;
        font-weight: 300;
        color: @red;
        font-size: 1.8em;
        line-height: 100%;
        letter-spacing: -0.03em;
    }
    
    .time {
        float: right;
        font-size: 75%;
        color: #aaa;
        margin-top: 11pt;
        line-height: 100%;
    }
    
    .description {
        font-family: Arial;
        text-align: justify;
        font-size: 10.5pt;
        line-height: 1.3em;
        margin-top: 0.3em;
    }
    
    .compose {
        color: #aaa;
        border-radius: 10px;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        border: 3px dashed;
        cursor: pointer;
        &:hover {
            color: #787878;
        }
    }
    .composeBox {
//        display: none;
        position: absolute;
//            width: 100%;
        top: 20%;
        width: 600px;
        left: 150px;
        text-align: center;
        &.active {
            display: block;
        }
    }

}

// *** Generic styles ***

.clear {
    clear: both;
}

// *** Gradients ***
.gradient(@color1, @stop1, @color2, @stop2) {
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1,@color1), color-stop(@stop2,@color2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @color1 @stop1,@color2 @stop2); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @color1 @stop1,@color2 @stop2); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @color1 @stop1,@color2 @stop2); /* IE10+ */
    background: linear-gradient(to bottom, @color1 @stop1,@color2 @stop2); /* W3C */
}

// *** Debugging styles ***

#debug_panel {
    padding: 0.6em 3em;
    position: fixed;
    bottom: 0;
    background: #ddd;
    width: 100%;
    font-size: 75%;
    opacity: 0.7;
}

.DEBUG_outline {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid red;
}

.DEBUG_baseline_grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeat-y 50% 0 url("../images/baseline_grid.png");
    opacity: 0.5;
    z-index: 999;
    pointer-events:none;
    
    &.enabled-false {
        display: none;
    }
}

// *** Longdan posts ***
#content.longdan {
    margin-top: 70px
}
.longdan-post {
    height: 300px;
    position: relative;
    text-align: center;
    .price {
        font-size: 24px;
        color: #7bc173;
    }
    
    .rrp {
        font-size: 14px;
        text-decoration: line-through;
        color: #F75454;
        
    }

    .image {
        height: 150px;
        margin-bottom: 5px;
    }

    .description {
        text-align: center;
        font-size: 14px;
    }

    .packaging {
        font-size: 14px;
        color: #bbb;
        margin-top: 0.3em;
    }
    
    .cart {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        
        .cart-buttons {
            padding: 10px 0 20px 0;
        }
        
        a {
            font-size: 14px;
            color: #fff;
            padding: 5px;
            border-radius: 3px;
            cursor: pointer;
        }

        .add {
            background-color: #7bc173;
            &:hover {
                background-color: #649e5d;
            }
        }
        
        .remove {
            margin-left: 5px;
            background-color: #F75454;
            &:hover {
                background-color: #D64444;
            }
        }
        
        .divider {
            height:1px;
            border-bottom:1px solid #bbb;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }
    }
}

#ld-more {
    margin: 20px 0 50px 0;
    text-align: center;
    cursor: pointer;
    color: #bbb;
}

#ld-header {
    //
    padding: 10px 0 5px 0;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    height: 50px;
    width: 100%;
    z-index: 10000;
    box-shadow: 2px 2px 5px #aaa;
    .basket {
        display: inline-block;
        padding: 0 5px 0 5px;
        min-width: 60px;
        position: relative;
        height: inherit;
        img {
            height:30px;
        }
        
        .badge {
            position: relative;
            bottom: 0;
            left: auto;
            .gradient(#7bc173; 0%; #649e5d; 100%);
            
            &:hover {
                .gradient(#649e5d; 0%; #7bc173; 100%);
            }
        }
        
        .price {
            &.badge {
                background-color: #ef363d;
                &.active { // active means non-free. Somehow ng-class doesn't work with anything else...
                    .gradient(#f04d53; 0%; #ed1c24; 100%);
                }
            }
        }

        .category {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            
            a {
                padding: 10px;
                border-right: 1px solid #bbb;
                &:hover {
                    color: #7bc173;
                }
            }

            &:last-child a {
                border-right: none;
            }
        }
    }
    .checkout-overlay {
        position: fixed;
        background-color: #fff;
        width: 50%;
        z-index: 20000;
        margin-top: 50px;
        left: 25%;
        border: 5px solid #eee;
        cursor: default;
        padding: 15px;
        display: none;
        &.active {
            display: block;
        }
        h2 {
            padding: 0 10px 10px 10px;
            margin-top: 5px;
            color: #7bc173;
            border-bottom: 1px solid;
        }
        h4 {
            margin: 15px 0 5px 0;
            color: #f75454;
        }
        .checkout-items { // the wrapping div of the checked out items
            &.active {
                padding-bottom: 20px;
                border-bottom: 1px solid #7bc173;
            }
            .checkout-item {
                position: relative;
                padding: 10px;
                height: 80px;
                float: left;
                img {
                    height: inherit;
                    float: left;
                }
                div {
                    &.badge {
                        .gradient(#7bc173; 0%; #649e5d; 100%);
                        padding: 2px 2px;
                        bottom: 0;
                        &.right {
                            right: 0;
                            left: auto;
                        }
                    }
                }
            }
        }
        .checkout-button {
            padding: 10px;
            cursor: pointer;
            background-color: #f75454;
            color: #fff;
            padding: 10px;
            border-radius: 10px;
            max-width: 80px;
            margin: 20px auto 0 auto;
            display: none;

            &.active {
                display: block;
            }
        }
        .checkout-progress {
            width: 20%;
            background-color: #bbb;
            border-radius: 13px;
            padding: 3px;
            margin: 0 auto 0 auto;
            display: none;
            &.active {
                display: block;
            }
            div {
                background-color: #f75454;
                width: 40%; /* Adjust with JavaScript */
                height: 20px;
                border-radius: 10px;
            }
            span {
                position: absolute;
                z-index: 11000;
                color: #fff;
                width: 100%;
                left: 0;
            }
        }
        
        .checkout-close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px;
            font-size: 12px;
            border-radius: 20px;
            color: #888;
            cursor: pointer;
        }
    }

    &.fixed {
        position: fixed;
        top: 0;
    }
}

.theatre-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(5,5,5,0.7);
    height: 100%;
    z-index: 15000;
    cursor: default;
    display: none;

    &.active {
        display: block;
    }
}

#mkt-header {
    .mkt-line {
        text-align: center;
        background-color: #efefef;
        span {
            padding: 20px 0 20px 0;
            margin: 0 auto;
            float: left;
            width: 33.333%;
            color: #fff;

            &#authentic {
                background-color: #70B368;
            }
            &#discount {
                background-color: #F75454;   
            }
            &#delivery {
                background-color: #f68b2b;
            }
        }
    }
    .mkt-header-img {
        background-image: url('../images/pho.jpg');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
}

#api-popup {
    border: 5px solid #eee;
    position: absolute;
    text-align: center;
    margin: 0 auto 0 auto;
    width: 650px;
    z-index: 30000;
    left: 170px; // (990-650)/2
    top: -300px; // height of the header image
    background-color: #fff;
    padding-bottom: 10px;
    display: none;
    &.active {
        display: block;
    }
    div {
        margin: 0 auto 0 auto;
        display: none;
        &.active {
            display: block;
        }
        p {
            margin: 0;
            padding: 20px 30px 20px 30px;
        }
    }
    img {
        margin: 0 auto 0 auto;
        height: 250px;
        padding: 10px;
    }
    .nav {
        cursor: pointer;
        &.next,&.prev {
            height: 30px;
            position: absolute;
            img {
                height: 30px;
            }
        }
        &.next {
            top: 50%;
            right: 10px;
        }
        &.prev {
            top: 50%;
            left: 10px;
        }
        &.skip {
            text-decoration: underline;
        }
    }
}

// *** Animation stuff ***
.repeated-item.ng-enter,
.repeated-item.ng-leave{
    -webkit-transition: 250;
}

.repeated-item.ng-enter {
    opacity: 0;
}

.repeated-item.ng-leave {
    opacity: 0;
    position: absolute;
}

.repeated-item.ng-enter.ng-enter-active {
    opacity: 1;
}

.repeated-item.ng-leave.ng-leave-active {
    opacity: 0;
}
