/*

Grid parameters: 12 modules @ 66px, 18px gap

*/

// *** Font imports ***
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

@grid_gutter: 18px;
@grid_module: 66px;
@grid_12: 12 * @grid_module + 11 * @grid_gutter;
@grid_4: 4 * @grid_module + 3 * @grid_gutter;
@grid_3: 3 * @grid_module + 2 * @grid_gutter;

@red: #c33f3f;

// *** Main content ***

body {
    margin: 0;
    font-family: "Arial";
}

#header {
    .gradient(#efefef; 94%; #e1e1e1; 100%);
}

#header_contents {
    margin: 0 auto;
    width: @grid_12;
}

#logo {
    float: left;
    width: @grid_3;
    margin-right: @grid_gutter;
    
    h1 {
        font-family: "Montserrat";
        font-weight: 400;
        padding: 0.5em 0 0.4em 0;
        margin: 0;
        
        * {
            text-transform: uppercase;
            font-size: 60%;
            font-weight: 700;
        }
    }
}

#top_navigation {
    float: left;
    font-size: 10.5pt;
    font-family: Arial; 
    font-weight: bold;
    color: #1c1b1b;
    
    a {
        padding: 27pt 0 9pt;
        text-align: center;
        float: left;
        display: block;
        line-height: 18pt;
        width: @grid_module;
        margin-right: @grid_gutter;
        cursor: pointer;
    }
    
    a.longdan {
        width: 116px;
        padding: 16pt 0 0 0;
    }
    
    .active {
        border-bottom: 5px solid #999;
    }
}

#user_profile_nav {
    position: relative;
    display: block;
    float: right;
    margin: 0.6em 0 0;
    
    img {
        float: left;
    }
    
    .triangle {
        margin-top: 22px;
        margin-left: 5px;
        float: right;
        border: 7px solid transparent;
        border-top-color: #5c5c5c;
    }

    .badge {
        .gradient(#f04d53; 0%; #ed1c24; 100%);
        position: absolute;
        bottom: -0.5em;
        left: -0.5em;
        text-align: center;
        border-radius: 20px;
        font-size: 75%;
        color: white;
        border: 2px solid white;
        min-width: 12px;
        padding: 1px 2px;
        height: 14px;
    }
    
    // *** Notification box ***
    #notification-box {
        z-index: 1000;
        position: absolute;
        background-color: #fff;
        width: 400px;
        border: 3px solid #bbb;
        border-radius: 3px;
        top: 60px;
        right: 0px;
        display: none;
        text-decoration: none;
        
        .notification {
            padding: 5 10px 15px 10px;
            font-size: 12.5px;
            color: #333;
            .content {
                height: 35px;
            }
            .time {
                color: #aaa;
            }
            .avatar {
                margin-right: 15px
            }
        }
        
        .notification:last-child {
            padding-bottom: 10px;
        }
        
        .notification:not(:last-child) {
            border-bottom: 1px solid #bbb;
        }
        
        .notification:hover {
            background-color:#eee;
        }
        
    }
    .triangle-up {
        float: right;
        border: 7px solid transparent;
        border-bottom-color: #bbb;
        margin-top: 47px;
        margin-left: -3px;
        position: absolute;
        z-index: 2000;
        display: none;
    }
    .triangle-up.active, #notification-box.active {
        display: block;
    }
}

.avatar {
    border-radius: 100px;
}

#content {
    margin: 0 auto;
    width: @grid_12;
}

.column {
    float: left;
    width: @grid_4;
    margin-left: @grid_gutter;
    
    &:first-child {
        margin-left: 0;
    }
}
.longdan .column {
    width: @grid_3;
}

// *** Content styles ***

.post {
    margin-top: 1.0em;
    
    .price {
        font-family: "Open Sans", Arial;
        font-weight: 300;
        color: @red;
        font-size: 1.8em;
        line-height: 100%;
        letter-spacing: -0.03em;
    }
    
    .time {
        float: right;
        font-size: 75%;
        color: #aaa;
        margin-top: 11pt;
        line-height: 100%;
    }
    
    .description {
        font-family: Arial;
        text-align: justify;
        font-size: 10.5pt;
        line-height: 1.3em;
        margin-top: 0.3em;
    }
}

// *** Generic styles ***

.clear {
    clear: both;
}

// *** Gradients ***
.gradient(@color1, @stop1, @color2, @stop2) {
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1,@color1), color-stop(@stop2,@color2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @color1 @stop1,@color2 @stop2); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @color1 @stop1,@color2 @stop2); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @color1 @stop1,@color2 @stop2); /* IE10+ */
    background: linear-gradient(to bottom, @color1 @stop1,@color2 @stop2); /* W3C */
}

// *** Debugging styles ***

#debug_panel {
    padding: 0.6em 3em;
    position: fixed;
    bottom: 0;
    background: #ddd;
    width: 100%;
    font-size: 75%;
    opacity: 0.7;
}

.DEBUG_outline {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid red;
}

.DEBUG_baseline_grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeat-y 50% 0 url("../images/baseline_grid.png");
    opacity: 0.5;
    z-index: 999;
    pointer-events:none;
    
    &.enabled-false {
        display: none;
    }
}

// *** Longdan posts ***
#content.longdan {
    margin-top: 70px
}
.longdan-post {
    height: 300px;
    position: relative;
    text-align: center;
    .price {
        font-size: 24px;
        color: #7bc173;
    }
    
    .rrp {
        font-size: 14px;
        text-decoration: line-through;
    }

    .image {
        height: 150px;
        margin-bottom: 5px;
    }

    .description {
        text-align: center;
        font-size: 14px;
    }

    .packaging {
        font-size: 14px;
        color: #bbb;
        margin-top: 0.3em;
    }
    
    .cart {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        
        .cart-buttons {
            padding: 10px 0 20px 0;
        }
        
        a {
            font-size: 14px;
            color: #fff;
            padding: 5px;
            border-radius: 3px;
            cursor: pointer;
        }

        .add {
            background-color: #7bc173;
        }
        .add:hover {
            background-color: #649e5d;
        }
        
        .remove {
            margin-left: 5px;
            background-color: #F75454;
        }
        .remove:hover {
            background-color: #D64444;
        }
        
        .divider {
            height:1px;
            border-bottom:1px solid #bbb;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }
    }
}

#ld-more {
    margin: 20px 0 50px 0;
    text-align: center;
    cursor: pointer;
}

#ld-more {
    color: #bbb;
}

#ld-header {
    //
    padding: 10px 0 5px 0;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    height: 50px;
    width: 100%;
    z-index: 10000;
    box-shadow: 2px 2px 5px #aaa;
    .basket {
        display: inline-block;
        padding: 0 10px 0 10px;
        min-width: 60px;
        img {
            height:30px;
        }
        .price {
            font-size: 14px;
            color: #70B368;
        }

        .active { // active means non-free. Somehow ng-class doesn't work with anything else...
            color: #ef363d;
        }
        
        .category {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            
            a {
                padding: 10px;
                border-right: 1px solid #bbb;
            }
            a:hover {
                color: #7bc173;
            }
        }
        .category:last-child a {
            border-right: none;
        }
    }
}

#ld-header.fixed {
    position: fixed;
    top: 0;
}

#mkt-header {
    .mkt-line {
        text-align: center;
        background-color: #efefef;
        span {
            padding: 20px 0 20px 0;
            margin: 0 auto;
            float: left;
            width: 33.333%;
            background-color: red;
            color: #fff;
        }
        #authentic {
            background-color: #70B368;
        }
        #discount {
            background-color: #F75454;   
        }
        #delivery {
            background-color: #f68b2b;
        }
    }
    .mkt-header-img {
        background-image: url('../images/pho.jpg');
        background-position: center;
        background-size: cover;
        width:100%;
        height:300px;
    }
}

// *** Animation stuff ***
.repeated-item.ng-enter,
.repeated-item.ng-leave{
  -webkit-transition: 250;
}

.repeated-item.ng-enter {
  opacity: 0;
}

.repeated-item.ng-leave {
  opacity: 1;
}

.repeated-item.ng-enter.ng-enter-active {
  opacity: 1;
}

.repeated-item.ng-leave.ng-leave-active {
  opacity: 0;
}
